
-
    var workItems = [
        {"id" : "1", "name":"Web4Agency"  , "workname" : "Web Developer"    ,  "type": "Internship"    , "Location" : "Geneva, CH" , "fromdate": "2013-04-02", "todate" : "2013-06-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "2", "name":"Miliboo"     , "workname" : "Web Developer"    ,  "type": "Apprenticeship", "Location" : "Annecy, FR" , "fromdate": "2013-07-01", "todate" : "2014-06-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "3", "name":"Be-Connected", "workname" : "Lead Developer"   ,  "type": "Employee"      , "Location" : "Rumilly, FR", "fromdate": "2015-06-01", "todate" : "2018-12-21", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "4", "name":"AmerSports"  , "workname" : "Magento Developer",  "type": "Employee"      , "Location" : "Annecy, FR" , "fromdate": "2019-01-02", "todate" : "2019-10-01", "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"},
        {"id" : "5", "name":"AmerSports"  , "workname" : "Squad lead"       ,  "type": "Employee"      , "Location" : "Annecy, FR" , "fromdate": "2019-10-01", "todate" : "current"   , "desc" : "oejfwpejfpwjefpowjepfowjpefojwpeofjpwoejfpweojfpweojf"}
    ]

.content#content
    .content-wrapper

        .content-myself#myself
            h2.content-title.content-myself-title - Voices in winter
            p.content-myself-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quisquam, consequatur dolorum doloribus, reiciendis, enim corrupti quis iste tempora cum iusto provident obcaecati. Ut natus porro odit eius doloribus sapiente.
            .content-myself-img img


        .content-work#work
            h2.content-title.content-work-title Realm of the divine

            ul
                each item in workItems
                    li.class
                        p=item.id
                        p=item.name
                        p=item.workname
                        p=item.type
                        p=item.location
                        p=item.fromdate
                        p=item.todate
                        p=item.desc


        .content-skills#skills
            h2.content-title.content-skills-title Millions bright ambassadors
                ul.skills-display
                    li Item#1
                    li Item#2
                    li Item#3
                    li Item#4
                    li Item#5
                ul.skills-display
                    li Item#1
                    li Item#2
                    li Item#3
                    li Item#4
                    li Item#5
                ul.skills-display
                    li Item#1
                    li Item#2
                    li Item#3
                    li Item#4
                    li Item#5
                ul.skills-display
                    li Item#1
                    li Item#2
                    li Item#3
                    li Item#4
                    li Item#5




