-
    var navItems = [
        {"id" : "#about", "name":"Moi", "active":"active"},
        {"id" : "#work", "name":"Work"},
        {"id" : "#skills", "name":"Skills"},
        {"id" : "#scholl", "name":"Formation"},
        {"id" : "#contact", "name":"Contact"}
    ]


nav.nav-home#nav-home
    .nav-content
        ul
            each item in navItems
                li(class=item.active)
                    a(href=item.link, title=item.name)=item.name

//- aside.nav-aside#nav-aside
//-     .nav-content
//-         ul
//-             each item in navItems
//-                 li(class=item.active)
//-                     a(href=item.link, title=item.name)
//-                         span.label=item.name
